{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <form action="/location" method="post">
		<div class="mb-3">
            <input id="lat" name="lat" type="text">
			<input id="long" name="long" type="text">
		</div>
        <button id="button" class="btn btn-primary" type="submit" disabled>Submit Location</button>
    </form>

	<p id="demo"></p>

	<script>
		var x = document.getElementById("demo");
		
		function getLocation() {
		  if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(showPosition);
		  } else {
			x.innerHTML = "Geolocation is not supported by this browser.";
		  }
		}
		
		function showPosition(position) {
			document.getElementById('lat').value = position.coords.latitude		
			document.getElementById('long').value = position.coords.longitude
			
			document.getElementById('button').disabled = false
		}

		window.onload = function() {
			getLocation();
		};
	</script>
{% endblock %}



